<launch>
  

	<!--node pkg= "tensorflow_object_detector" name="detect_ros" type="detect_ros_raw_img.py" output="screen" unless="$(arg rgb_compressed)"/--> 
  

  <!--node pkg= "tensorflow_object_detector" name="detect_ros" type="detect_ros_compressed_img.py"/-->
	
  <!--Put your own ros bag -->
  <node pkg="rosbag" type="play" name="player" args="--clock /home/tejas/Documents/rgbd_dataset_freiburg3_teddy.bag"/>
  
  <!-- rviz -->
  <arg name ="rviz" default="true" />
  <arg name ="rviz_file" default="$(find tensorflow_object_detector)/config/display.rviz"/>
	<node pkg ="rviz" type="rviz" name="rviz" output="screen" args= "-d $(arg rviz_file)" if="$(arg rviz)"/>

  <!--include file="$(find openni2_launch)/launch/openni2.launch"/-->
</launch>
